<h1 style="text-align:center"></h1>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container" style="text-decoration: blue">
          <ul>
              <li><a routerLink="/rmmtravels"> ALL ABOUT RMM TRAVELS  </a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li> <a routerLink="/fair">FAIR AND PAYMENT</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li><a routerLink="/safety">SAFETY</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li><a routerLink="/pass"> RMM PASS </a> &nbsp;&nbsp;&nbsp;&nbsp;</li>

          </ul>
        
        </div>
</nav>
<router-outlet></router-outlet>

