
<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
    </nav>
    <body>
    <h3> Daily rides </h3>
    <h4> What are the car types available in Micro and Mini?</h4>
    <p>Micro and Mini are the most economical and popular cab category in RMM travels. </p>
    <p>In Micro and Mini category, cars like Maruti Ritz, Nissan Micra, Tata Indica, Maruti WagonR, Hyundai Eon, and Datsun Go are available. </p>
     
    <h4>How much luggage can I carry in my Micro or Mini ride?</h4>
    <p>Micro and Mini rides can accommodate up to 2-3 small size bags.</p>  
    <h4>What is the seating capacity for Micro and Mini?</h4>
    <p>Both Micro and Mini can seat upto 4 passengers.</p>

    <p>Note- Children above 5 years will be considered as single passenger.</p>
    <h3>  What is RMM Rental? </h3>
    <p>Whether you are heading out for multiple client meetings, planning a city trip for relatives,
     or just stepping out for a shopping trip across the city , RMM Rental can be your trusted ride partner.  </p>
            <p>With Ola Rental, now you can rent chauffeur-driven AC cabs on hourly packages at best prices. 
            Choose for rental packages from 2, 4, 8  to 12 hours and select a cab category as per your travel requirement.</p>

                    <p>Note- Ola rental service is available for travel within the city limits.  </p>
    </body>
    <a routerLink="/adcrim">GO BACK </a> &nbsp;&nbsp;&nbsp;&nbsp;
    <router-outlet></router-outlet>
    
    