
<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
</nav>
<body>
<h3>RMM Safety</h3>
<p>At RMM, safety is our top priority! Our ‘Safety Center’ is our commitment to mill
 customers of a safe trip. We have harnessed technology in an innovative way to ensure 
 that you are always safe during a trip.</p>
<p>In case of an emergency, make a call to our help line center to raise an alert and our Safety Response Team (SRT) will connect with you.  Our Safety Response Team is available 24*7 for assistance.
You can also alert your emergency contacts or reach out to police by making a call.
</p>
<h3>Do’s and Don’ts – Tips for a Safe Trip</h3>
<h5>Do’s  </h5>
<p>
     Always enter your drop location while booking the ride.
     Verify your driver and car details on the Ola app before boarding the cab
     Check while boarding that the child lock is disabled in the car.
     Opt for the back seat to maintain personal space between you and the driver
     Always insist that the driver follows the navigation as shown on the driver app
    
</p>
<h5>Dont’s  </h5>
<p>
    
        Don’t engage in short talks or personal conversations with the driver 
        Don’t share any personal information with the driver 
         Don’t allow the driver to take a detour from the route or make unexpected stops
        Don’t sleep in the cab when traveling alone 

</p>

<h3> Need additional help?  </h3>
<p>CALL US9538043753</p>
        <p>Please add your std code before the number</p>
</body>
<a routerLink="/adcrim">GO BACK </a> &nbsp;&nbsp;&nbsp;&nbsp;
<router-outlet></router-outlet>

