
<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
</nav>
<body>
<h3>What is RMM Pass?</h3>
<p>Ola pass offers the convenience of hassle-free travel with its flat fare rides. Ola pass is available in two 
variants i.e. Cab Pass and Auto Pass.</p>
<p>You can choose to buy a cab or an auto pass as per your travel requirement.  Please ensure that you have selected the correct city as each city has its unique set of
 cab/auto passes and will be applicable to the rides taken in that particular city and not in any other city. </p>
 
<h3>Checking Total Fare</h3>
<p>Alternately, you can also enter the drop location and choose the cab category to check the estimated Total Fare for your ride.</p>  
<p>Note- The estimated total fare for your ride may vary due to traffic conditions or any variation in distance traveled.</p>
<h3> Need additional help?  </h3>
<p>CALL US9538043753</p>
        <p>Please add your std code before the number</p>
</body>
<a routerLink="/adcrim">GO BACK </a> &nbsp;&nbsp;&nbsp;&nbsp;
<router-outlet></router-outlet>

