
<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
</nav>
<body>
<h3>How can I check the fare for my RMM ride?</h3>
<p>Select the Rate Card option available in the RMM app menu to check the fares for RMM rides in different cities.</p>
<h3>Checking the Fare for a Cab Category</h3>
<p>Depending upon the type of car u select (Ex: Mini, Sedan or Prime) 
and per km charges for the ride also varies upon the type of car.Depending upon these factor the fair is calculated.
</p>
<h3>Checking Total Fare</h3>
<p>Alternately, you can also enter the drop location and choose the cab category to check the estimated Total Fare for your ride.</p>  
<p>Note- The estimated total fare for your ride may vary due to traffic conditions or any variation in distance traveled.</p>
<h3> Need additional help?  </h3>
<p>CALL US9538043753</p>
        <p>Please add your std code before the number</p>
</body>
<a routerLink="/adcrim">GO BACK </a> &nbsp;&nbsp;&nbsp;&nbsp;
<router-outlet></router-outlet>

