<h1 style="text-align:center">{{title}}</h1>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
        <a routerLink="/adcrim">SUPPORT</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/employee"> CONTACT US </a> &nbsp;&nbsp;&nbsp;&nbsp;
</div>
</nav>

<router-outlet></router-outlet>
<body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <marquee> SPECIAL PACKAGES ON TRAVEL DESTINATIONS LIKE GOA AND MAHABALESHWAR</marquee>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
</body>
<div style="text-align:center">
<p> ONE OF THE BEST TRAVEL AGENCIES IN NORTH KARNATAKA</p>
</div>
<div style="text-align:left">
        <p>
                TOP CITIES FOR RMM TRAVELS:        
        </p>
        <ul>
                <li>BANGLORE BUS TICKET</li><br>
                <li>NAGPUR BUS TICKETS </li><br>
                <li>PUNE BUS TICKETS</li><br>
                <li>HUBLI BUS TICKETS</li><br>
                
        </ul>

</div>


